section{
    display: flex;
    justify-content: space-around;
}

#productUList {
    list-style-type: none;
    display: flex;
}

li {
    margin: 1em;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 10px;
}

.product {
    width: 50vw;
}